* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
}
.nav{
  background: linear-gradient(to right , white, #dbd9d9 );
  box-shadow: 0px 2px 10px #b9b8ba;
}
#logo{
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
  margin: 0 20px 0 20px;
}
.navlinks{
  margin: 0 30px 0 30px;
  font-size: 20px;
  font-weight: 500; 
  display:flex;
  text-decoration: none;
  color: #000000;
  align-items:center;
  transition: 0.5s ease-in-out;
}
.navlinks:hover{
  color: #808080;
  font-size: 22px;
}
.navigation{
   display: flex;
   justify-content: flex-start;
}
.search-box{
  width: 230px;
  border-radius: 20px;
  height: 40px;
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  border-color: #000000;
  transition: 0.6s ease-in-out;
}
.search-box:hover{
  font-size: 19px;
  font-weight: 550;
}
.search{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}
.counter{
  display: flex;
}

.cart-counter {
  font-size: 14px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: rgb(210, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-log{
  display: inline-flex;
  margin-left: 20px;
}

/*ADDED CSS*/
/* .header {
  display: flex;
  justify-content: space-between;
} */

#footer{
  padding-top: 2% ;
  padding-bottom: 2%;
  text-align: center;
}
.iconss{
  margin:6px;
  padding-bottom: 10px;
}

#footer{
  padding-top: 2% ;
  padding-bottom: 2%;
  text-align: center;
}
.iconss{
  margin:6px;
  padding-bottom: 10px;
}
Link {
  color: rgb(0, 0, 0);
}
.footer-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
}
/*PRODUCT CARD*/
.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  /* padding: 0%; */
}

.card-box {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border: 0.5px solid #ede7e7;
  border-radius: 10px;
}

.card-top {
  height: 30px;
}

.card-tag {
  color: blueviolet;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.card-category {
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  display: inline-block;
}

.card-title {
  font-size: small;
  color: gray;
}

.card-img-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: center;
}

.card-image {
  height: 200px;
  width: 200px;
  margin-top: 10px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.card-price {
  font-size: 14px;
  padding: 5px;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  background-color: rgb(204, 184, 228);
  display: flex;
  justify-content: center;
}

.card-cart {
  /* color: blueviolet; */
  color: rgb(141, 71, 226);
  height: 35px;
  width: 35px;
}

.main {
  margin: 25px 50px;
}

/* .skeleton-row {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
} */

.skeletonn {
  display: inline-block;
  /* width: 330px; */
  padding-right: 5px;
  width: 25%;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  width: 100px;
}

/* PRODUCT PAGE */

.box{
  margin: 100px 0 100px 0;
}
.img{
  border: solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
}
.line{
  opacity: 0.6;
  border-width: 1px;
}

#title1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 550;
  color: #808080;
}
#cat1{
  font-size: 25px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
#des1{
  margin: 50px 0 50px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 450;
}
#pr1{
  margin: auto 0 auto 0;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
#prod-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  color:#808080 ;
}

/* Login-Signup Done*/
.form {
  position: relative;
  margin: 100px auto;
  width: 400px;
  height: 550px;
  background:rgba(255, 255, 255, 0.441);
  box-shadow: 0 13px 32px #373738;
  border: 1px solid rgba(255, 255, 255, .18);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:  center;
}
.login-form {
  position: relative;
  margin: 100px auto;
  width: 400px;
  height: 450px;
  background:rgba(255, 255, 255, 0.441);
  box-shadow: 0 13px 32px #373738;
  border: 1px solid rgba(255, 255, 255, .18);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items:  center;
}
.login-main{
  height: 400px;
}
.login-header{
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: 650;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-container{
  position: relative;
  width: 320px;
  margin: 30px 0;
  border-bottom: 2px solid #000000 ;
}
.input-container label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1.1em;
  font-weight: 600;
  pointer-events: none;
  color: #000000;
  transition: .5s;
}
.input-container input:focus~label,
.input-container input:valid~label{
    top: 5px;
}
.input-container input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: #000000;
  font-weight: 500;
  padding: 0 35px 0 5px;
}
.remember-forget{
  margin: 20px 0 15px;
  font-weight: 600;
  font-size: 17px;
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.remember-forget a {
  color: #000000;
  text-decoration: none ;
}
.remember-forget a:hover {
  color: #808080;
}

.sui {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  background: linear-gradient(to right , white, #808080 );
  outline: none;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: 0.6s ease-in-out;
}
.sui:hover{
  color: #000000;
}
.register-link {
  font-size: 17px;
  text-align: center;
  color: #000000;
  margin: 25px 0 10px;
}

.register-link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  color: #808080;
}
.button-container{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cart Page */
.cart-container {
  margin: 30px 50px;
}

.cart-table {
  margin-top: 25px;
  border: 2px solid gray;
  width: 100%;
}

th {
  font-size: large;
  color: blueviolet;
  padding: 15px;
  border-bottom: 1px solid black;
}

td {
  padding: 15px;
}

.cart-cart {
  height: 100px;
  width: 100px;
  color: rgb(77, 64, 64);
  /* display: inline-block; */
}

.cart-image {
  width: 40px;
  height: 40px;
}

.cart-delete {
  height: 25px;
  width: 25px;
  color: rgb(158, 89, 223);
}

.three-dots {
  font-size: 100px;
  color: gray;
  display: flex;
  justify-content: center;
}


.cart-empty {
  display: block;
  padding: 10%;
  color: rgb(98, 97, 97);
}

